@charset "utf-8";

/*초기화 태그*/

body {
  margin: 0;
  padding: 0;
  font-size: 0.9em !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

p {
  margin: 0 !important;
}

.wrap {
  overflow: hidden;
  min-width: 1200px;
}

/* 헤더 */

header {
  height: 75px;
  position: relative;
  display: flex;
}

/* 메인 */

main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.menu {
  height: 100px;
  display: flex;
  justify-content: center;
}

.menu > ul {
  display: flex;
}

.menu > ul > li {
  padding: 0 60px;
  font-size: 40px;
  font-weight: bold;
}

.content {
  margin: 0;
  padding: 0;
  height: 600px;
}

.content > div {
  position: relative;
  padding: 70px 0 60px 0;
}

.content > div > div:nth-child(1) {
  height: 450px;
  width: 300px;
}

.content > div > div:nth-child(1) > img {
  height: 450px;
  width: 300px;
}

.content > div > div:nth-child(2) {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.content > div > div:nth-child(2) > div:nth-child(1) {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
}
/* 푸터 */
